body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0%;
}
.container {
    padding: 0%;
    width: 80%;
    margin: auto;

    overflow:hidden;
}
header {
    background: #4CAF50;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    float:left;
}

nav {
    float: right;
}

nav ul {
    list-style:none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.login-container {
    align-items:baseline;
    margin: auto;
    background: white;
    justify-content: center;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.Login{
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

 input {
     width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border:none;
    border-radius: 50px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}